<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur ad
    ipisicing elit. Animi illo, neque facilis nulla 
    voluptate reprehenderit eveniet qui quod delectu
    s veritatis ad. Ipsa perferendis recusandae 
    asperiores unde minus, et vol
    uptas, earum a quis, molestias non.</p>

<%- include("footer") -%>